@import "../../../utils/constants.scss";

.education {
  @include flex-center();
  flex-direction: column;
  width: 100%;
}

.education__title {
  @include text(32px, 32px, 500);
  color: rgb(77, 174, 212);
  letter-spacing: -1px;
  margin: 70px 0 60px;
}

.education__container {
  @include indent-null();
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}
