@import '../../../utils/constants.scss';

@media (max-width: 1000px) {
  .education__title {
    @include text(30px, 30px, 500);
    margin: 50px 0;
  }

  .education__container {
    width: 620px;
  }
}

@media (max-width: 700px) {
  .education__title {
    @include text(26px, 28px, 500);
    margin: 40px 0;
  }

  .education__container {
    width: 380px;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
}

@media (max-width: 410px) {
  .education__title {
    @include text(20px, 28px, 500);
    margin: 20px 0;
  }

  .education__container {
    width: 280px;
  }
}
