@import '../../../utils/constants.scss';

@media (max-width: 1100px) {
  .diplomas__container-image {
    width: 950px;
    left: calc((100% - 950px) / 2);
  }

  .diplomas__close {
    top: 40px;
    left: calc((100% / 2) + 448px);
  }
}

@media (max-width: 1000px) {
  .diplomas__container-image {
    position: fixed;
    top: 10px;
    left: 15px;
    width: calc(100vw - 30px);
  }

  .diplomas__close {
    position: fixed;
    top: 50px;
    left: calc((100% / 2) + 298px);
  }
}

@media (max-width: 700px) {
  .diplomas__container-image {
    width: calc(100vw - 20px);
    left: 10px;
  }

  .diplomas__close {
    left: calc((100% / 2) + 140px);
    top: 40px;
    width: 18px;
    padding: 3px;
  }
}

@media (max-width: 410px) {
  .diplomas__close {
    top: 30px;
    left: calc((100% / 2) + 104px);
    width: 16px;
  }
}
