@import '../../../utils/constants.scss';

.diplomas {
  width: 950px;
  height: 700px;
  background-color: white;
  position: fixed;
  top: 80px;
  left: calc((100% - 950px) / 2);
  z-index: 10;
  box-shadow: $shadow-block;
  overflow-y: auto;
}

.diplomas-item {
  width: 100%;
}

.diplomas__close {
  position: fixed;
  top: 80px;
  left: calc((100% / 2) + 500px);
  width: 20px;
  z-index: 12;
  cursor: pointer;
  padding: 3px;
  border: 1px solid black;
}
