@import '../../../utils/constants.scss';

.education__element {
  position: relative;
  background-color: $bkg-color;
  box-shadow: $shadow-block;
  padding: 20px;
}

.education__title-item {
  margin: 0;
  color: rgb(77, 174, 212);
}

.education__specialization {
  font-style: italic;
  font-size: 17px;
  margin: 10px 0 15px;
}

.education__dates {
  font-style: italic;
  font-size: 16px;
  margin-top: 0;
}

.education__button {
  @include text(16px, 16px, 400);
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
  background-color: white;
  border: none;
  padding: 0;
  color: rgb(2, 92, 134);
  cursor: pointer;
  &:nth-of-type(2) {
    margin: 0;
  }
  &-text {
    cursor: pointer;
    margin: 0;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.education__icon {
  margin-right: 10px;
  width: 15px;
}

.education__info {
  @include text(16px, 18px, 400);
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  &:nth-of-type(2) {
    margin: 0;
  }
}

.education__link {
  text-decoration: none;
  margin-left: 5px;
  color: rgb(2, 48, 134);
}

.education__description {
  @include text(15px, 20px, 500);
  margin: 0;
}
