@import '../../../utils/constants.scss';

@media screen and (max-width: 1000px) {
  .about-me__navbar-link {
    margin-right: 20px;
    @include links(20px, 20px);
  }

  .about-me__link-icon {
    width: 13px;
  }

  .navigation__buttons-item {
    margin-right: 25px;
    height: 20px;
    &:last-child {
      margin-right: 10px;
    }
  }

  .navigation__button {
    @include flex-center();
    @include text(12px, 14px, 400);
  }
}

@media screen and (max-width: 700px) {
  .about-me__navbar {
    grid-column: span 2;
    justify-content: space-between;
  }

  .about-me__navbar-link {
    margin-right: 20px;
    @include links(16px, 16px);
  }

  .about-me__link-icon {
    width: 12px;
  }

  .navigation__buttons-item {
    margin-right: 25px;
    height: 16px;
  }

  .navigation__button {
    @include flex-center();
    @include text(12px, 14px, 400);
  }
}

@media screen and (max-width: 410px) {
  .about-me__navbar {
    margin-top: 7px;
    width: 95%;
    justify-self: center;
  }

  .about-me__navbar-link {
    margin-right: 20px;
    @include links(16px, 16px);
  }

  .about-me__link-icon {
    width: 12px;
  }

  .navigation__buttons-item {
    margin-right: 25px;
    height: 16px;
    width: 38%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__button {
    @include flex-center();
    @include text(12px, 14px, 400);
  }
}
