@import '../../../utils/constants.scss';

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60%;
  z-index: 2;

  .navigation__buttons {
    @include indent-null();
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .navigation__buttons-item {
    width: 30%;
    margin-right: 20px;
    background-color: $bkg-color;
    box-shadow: $shadow-border;
    &:last-child {
      margin: 0;
    }
  }

  .navigation__button {
    @include flex-center();
    @include text(13px, 14px, 400);
    border: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: $text-color;
    transition: 0.5s;
    &:focus {
      font-weight: 500;
      opacity: 1;
    }
  }

  .navigation__button_active {
    font-size: 11.5px;
    background-color: rgb(240, 241, 241);
    box-shadow: $inner-shadow;
    transition: 0.5s;
  }
}
