:root {
  /* Размеры */

  /* Цвета */
  --bg-color: #e6e3e3;
  --bg-block-color: white;

  --black-color: black;
  --title-color: #576a7a;
  --link-color: #34778b;
  --light-grey-color: rgb(107, 107, 107);

  --special-shadow-color: rgba(77, 174, 212, 0.2);
  --shadow-color: rgb(175, 175, 175);

  --yellow-border-color: rgb(212, 187, 77);

  --btn-active-color: rgb(247, 247, 247);
  --btn-hover-bg-color: rgb(245, 243, 241);
}

@import url(normalize.css);
@import url(fonts/inter.css);
