@import '../../../utils/constants.scss';

@media (max-width: 1000px) {
  .about-me__additional-info {
    @include block(100%, 650px, auto, 2);
    top: 345px;
    left: calc((100% - 650px) / 2);
    padding: 25px;

    &_type_list {
      font-size: 17px;
    }
  }

  .additional-info__text {
    line-height: 20px;
    font-size: 16px;
  }

  .additional-info__list {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .about-me__additional-info {
    @include block(100%, 410px, auto, 2);
    top: 270px;
    left: calc((100% - 410px) / 2);
    padding: 15px;
  }

  .additional-info__text {
    line-height: 18px;
    font-size: 14px;
  }

  .additional-info__list {
    font-size: 14px;
  }
}

@media (max-width: 410px) {
  .about-me__additional-info {
    width: 280px;
    top: 410px;
    left: calc((100% - 280px) / 2);
    padding: 8px;
  }

  .additional-info__text {
    margin-top: 8px;
    line-height: 16px;
    font-size: 12px;
    &:nth-of-type(1) {
      margin-top: 20px;
    }
  }

  .additional-info__list {
    font-size: 12px;
  }
}
