@import '../../../utils/constants.scss';

.about-me {
  position: relative;
  width: 950px;
}

.about-me__main-info {
  @include block(100%, 950px, 419px, 3);
  padding: 29px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 240px 90px 25px;
  gap: 0 40px;
}

.about-me__image-container {
  display: flex;
  flex-direction: column;
  height: 358px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  grid-row: span 3;
  justify-self: center;
}
.about-me__foto {
  max-height: 300px;
  height: 100%;
  width: 240px;
  object-fit: cover;
  box-shadow: $shadow-block;
}

.about-me__download {
  text-decoration: none;
  color: $text-color;
  border-style: none;
  @include text(14px, 15px, 500);
  @include indent-null();
  @include flex-center();
  @include links(240px, 40px);

  &:active {
    border: 1px solid $shadow-color;
    box-shadow: $inner-shadow;
  }
}
.about-me__download-icon {
  width: 20px;
  margin-right: 10px;
}

.about-me__description-container {
  width: 100%;
  position: relative;
}

.about-me__title {
  @include text(32px, 32px, 500);
  letter-spacing: -2px;
  margin: 0 0 10px;
}

.about-me__title-name {
  color: rgb(77, 174, 212);
}

.about-me__subtitle {
  @include text(20px, 22px, 500);
  font-style: italic;
  @include indent-null();
}

.about-me__description {
  @include text(17px, 25px, 400);
  max-width: 600px;
  width: 100%;
  margin: 26px 0;
}

.about-me__contacts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  @include indent-null();
}

.about-me__contact {
  color: rgb(107, 107, 107);
  position: relative;
  width: 50%;
  height: 30px;
  @include text(14px, 30px, 400);
  @include indent-null();
}

.about-me__contacts-data {
  color: $text-color;
  font-weight: 500;
  position: absolute;
  left: 35%;
}
